<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> &#x1F60D;</h1>
    <a class="links" href="/">Home</a>
    <a class="links" href="/new">New Message</a>
    <br><br>
    <p>Welcome to the <%= title %></p>
    <% const thingy = "Read some messages or leave some new ones :)"; %>
    <p><%= thingy %></p>
    <ul id="list">
      <% messages.forEach(function(message) { %>
      <li><%= message.user %></li>
      <li><%= message.text %></li>
      <% let realDate = new Date(message.date); %>
      <% let formattedDate = `${realDate.getFullYear()}-${(realDate.getMonth() + 1).toString().padStart(2, '0')}-${realDate.getDate().toString().padStart(2, '0')} ${realDate.getHours() === 0 ? "12" : realDate.getHours() > 12 ? realDate.getHours() - 12 : realDate.getHours() }:${realDate.getMinutes().toString().length == 1 ? '0' + realDate.getMinutes() : realDate.getMinutes() } ${realDate.getHours() > 11 ? "PM" : "AM"}` %>
      <li><%= formattedDate %></li>
      <br>
      <% }); %>
    </ul>
  </body>
</html>
